<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="master" connectionString="Data Source=192.168.137.189;Initial Catalog=master;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
  <add name="account" connectionString="Data Source=192.168.137.189;Initial Catalog=cxyb2;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
</connectionStrings>
